[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[alias]
  st = status
  br = branch
  df = diff
  d = difftool
  ci = commit -v
  cia = commit -v -a
  co = checkout
  cp = cherry-pick
  l = log
  ll = log -p
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lf = log --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lfm = log --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --no-merges
  lm = log master..
  llm = log -p master..
  put = push -u origin HEAD

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[user]
  name = Jarad Comingdeer
  email = jarad@jcomingdeer.com

[push]
  default = current

[credential]
  helper = osxkeychain

[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[mergetool]
  keepBackup = false
